.pj__works
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.pj__works-title
{
    align-self: flex-start;

}
.pj__works-title h1
{
    text-align: left;
    color: var(--color-contrast);
    font-family: var(--font-family);
    padding: 2rem 0rem;
}
.pj__works-box
{
    display: flex;
    flex-direction: row;
    background: #3017635a;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: var(--font-family);
    height: 300px;
    width: 100%;
    border-radius: 15px;
}

.work-content 
{
    flex: 0.75;
}
.work-content h1{
    color: var(--color-contrast);
    font-size: 1.5rem;
    padding: 3rem 0rem 0.5rem 3rem;

}

.work-content p{
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 0rem 0rem 0.5rem 3rem;
}

.work-img
{
    flex: 0.25;

}
.work-img img
{
    width: 200px;
    height: 300px;
    object-fit: contain;
    display: flex;
    align-self: flex-end;
}

