@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(135.97deg, #A2DBF4 1.84%, #4d5394 45.67%, #072494 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: black;
  --color-footer : #031B34;
  --color-contrast: #B75AFF;
  --color-text: #a2dbf4;
  --color-subtext: #4e5e80;
}